.Homepage2{
    background-color: #F9FAFF;
    height:630px;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.green-container{
    margin-top:-600px;
    /* border:1px solid red; */
    position: absolute;
    width:100%;
    overflow: hidden;
    height:100vh;
    display:flex;
    justify-content: flex-end;
    align-items: center;

}

.green-eclipse{
    /* border:1px solid red; */
    width:200px;
    height:200px;
    flex-shrink: 0;
    background: #8CC640;
    opacity: 0.9;
    filter:blur(80px);
    transform: translateX(110px);
}
.page-text{
    text-align: center;
}

.page-text h1{
    font-weight:700;
    font-size: 32px;
    color:#1D1752;
}

.page-text p{
    font-size: 16px;
    font-weight: 400;
    color:black;
}

.cards{
    display:flex;
    justify-content: space-between;
    margin-top:80px;
    gap:88px;
    /* border:1px solid red; */
    
}
.cards-tab{
    display: flex;
    gap:88px;
}
.card-1{
    border-radius: 10px;
    height:350px;
    width:280px;
    box-shadow: 0px 1px 10px 1px #00000026;
    border: 1px solid #1D1752
}

.card-last{
    border-radius: 10px;
    height:350px;
    width:280px;
    box-shadow: 0px 1px 10px 1px #00000026;
    border: 1px solid #1D1752
}
.super-script-01{
    color: #1D1752;
    margin-top:-70px;
    margin-left: 180px;
    font-size: 96px;
    font-weight: 400;
    position: absolute;

}
.super-script{
    color: #1D1752;
    margin-top:-70px;
    margin-left: 160px;
    font-size: 96px;
    font-weight: 400;
    position: absolute;
}



.card-align h1{
    font-size: 20px;
    margin-left:26px;
    margin-bottom: 10px;
}

.line-1{
    width:70px;
    margin-left:26px;
    margin-bottom: 10px;    
}
.line-2{
    width:126px;
    margin-left:26px;
    margin-bottom: 10px;   
}

.line-3{
    width:84px;
    margin-left:26px;
    margin-bottom: 10px;   
}
.card-align p{
    font-size: 16px;
    margin-left:26px;
}

.card-align img{
    margin-left:78px;
    margin-top:54px;
    height:123px;
}

@media screen and (max-width:1200px){
    .Homepage2{
        height:fit-content;
        padding:40px 0px;
    }
    .cards{
        width:70%;
        margin:60px auto;
        flex-wrap:wrap;
    }
    .cards-tab{
        display:flex;
        justify-content: space-between;
    }
    .green-container{
        /* border:1px solid red; */
        margin-top:-1000px;
    }
}

@media screen and (max-width: 1000px) {
    .Homepage2{
        display:block;
        height:fit-content;
        padding:40px 0px;
    }
    .page-text h1{
        font-size:24px;
    }
    .page-text p{
        font-size:14px;
        width:90%;
        margin:auto;
    }
    .cards{
        display:flex;
        align-items: center;
        flex-direction: column;
        min-width:290px;
    }
    
    .card-last{
        margin:0;
    }
    .cards-tab{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .green-container{
        /* border:1px solid red; */
        margin-top:-400px;
    }
    .green-eclipse{
        scale:60%;
        transform: translateX(150px);
    }
    

}

@media screen and (max-width:350px) {
    .card-1{
        border-radius: 10px;
        height:250px;
        width:210px;        
        min-width:210px;
        box-shadow: 0px 1px 10px 1px #00000026;
        border: 1px solid #1D1752
    }
    .card-last{
        border-radius: 10px;
        height:250px;
        width:210px !important;
        min-width:210px;
        box-shadow: 0px 1px 10px 1px #00000026;
        border: 1px solid #1D1752
    }

    .super-script{
        font-size:70px;
        margin-top:-60px;
        margin-left: 110px;
        
        
    }
    .super-script-01{
        font-size:70px;
        margin-top:-60px;
        margin-left: 130px;
    }
    .card-align img{
        margin-top:10px;
        margin-left:0px;
        width:200px;
    }
    .card-align h1{
        font-size:15px;
    }
    .card-align p{
        font-size:8px;
    }
    
    .card-last{
        border-radius: 10px;
        height:250px;
        width:90%;
        box-shadow: 0px 1px 10px 1px #00000026;
        border: 1px solid #1D1752
    }
    .green-container{
        /* border:1px solid red; */
        display:none;
    }

    
}
